.breadcrumb-table{
    width: 100%;margin: 0px;padding: 0px
}

.breadcrumb-list{
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.no-margin{
    margin: 0px;
}

.left-content{
    padding-top: 5px;
    border-top: 1px solid #AFAFB6;
    border-right: 1px solid #AFAFB6;
    vertical-align: top; 
    width:250px;
    background-color: #F5F5F5;
}

.left-content > hr {
    margin-bottom: 10px;
    margin-top: 5px;
}

.main-content{
    background-color: #D3DEE5;
    vertical-align: top;
    border-top: 1px solid #AFAFB6;
}

html{
    height:100%;
}

body{
    height: 100%; 
    margin: 0; 
    overflow-y: scroll; 
    padding: 0;
}

.full-height{
    height: 100%;
}

.full-width{
    width:100%;
}

.ui-message{
    background-color: gray; 
    padding: 5px; 
    margin: 2px 0px 5px;
    background-color: #EDEDED;
    background-image: -ms-linear-gradient(top, #FCFCFC 0%, #DEDEDE 100%);
    background-image: -moz-linear-gradient(top, #FCFCFC 0%, #DEDEDE 100%);
    background-image: -o-linear-gradient(top, #FCFCFC 0%, #DEDEDE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FCFCFC), color-stop(1, #DEDEDE));
    background-image: -webkit-linear-gradient(top, #FCFCFC 0%, #DEDEDE 100%);
    background-image: linear-gradient(to bottom, #FCFCFC 0%, #DEDEDE 100%);
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}

.ui-message-title{
    color:#4C4C4C;
    font-weight:bold; 
    font-size: 18px;
    text-shadow: 0 1px 1px #FFFFFF;
}

.ui-error-text{
    color: #CD0A0A;
}

.ui-success-text{
    color: #008000;
}

.ui-info-text{
    color: #00008B;
}